# Regression Model for Calculating How Many Miles can a vehicle run for per gallon oil Depending on certain features

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing Dataset

In [2]:
dataset= pd.read_csv('Auto_MPG.csv')

In [3]:
dataset

,Mpg,Cylinder,Displacement,Horsepower,Weight,Accelaration,Model_Year,Origin,Car_name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
401,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
402,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
403,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
404,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
405,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

# Data Preprocessing
# Removing the feature not needed for regression

In [7]:
dataset= dataset.drop('Car_name',axis=1)
dataset

,Mpg,Cylinder,Displacement,Horsepower,Weight,Accelaration,Model_Year,Origin
0,18.0,8,307.0,130.0,3504,12.0,70,1
1,15.0,8,350.0,165.0,3693,11.5,70,1
2,18.0,8,318.0,150.0,3436,11.0,70,1
3,16.0,8,304.0,150.0,3433,12.0,70,1
4,17.0,8,302.0,140.0,3449,10.5,70,1
...,...,...,...,...,...,...,...,...
401,27.0,4,140.0,86.0,2790,15.6,82,1
402,44.0,4,97.0,52.0,2130,24.6,82,2
403,32.0,4,135.0,84.0,2295,11.6,82,1
404,28.0,4,120.0,79.0,2625,18.6,82,1
405,31.0,4,119.0,82.0,2720,19.4,82,1

In [8]:
X = dataset.iloc[:, 1:].values
y = dataset.iloc[:, 0:1].values

# Filling up NaN values in the dataset

In [9]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imputer.fit(X[:, 2:3])
imputer.fit(y)

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='mean', verbose=0)

In [10]:
X[:,2:3]= imputer.transform(X[:, 2:3])
y= imputer.transform(y)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Scaling the Features

In [12]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
sc_y = StandardScaler()
X_train = sc_x.fit_transform(X_train)
y_train = sc_y.fit_transform(y_train)

# Training the model with Support Vector Regression

In [15]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, y_train)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

# Comparing the predictions with original values

In [16]:
y_pred = sc_y.inverse_transform(regressor.predict(sc_x.transform(X_test)))
np.set_printoptions(precision = 2)
print(np.concatenate((y_pred.reshape(len(y_pred), 1), y_test.reshape(len(y_test), 1)), 1))

[[23.18 23.  ]
 [15.37 16.  ]
 [30.19 31.  ]
 [16.62 15.  ]
 [18.74 19.  ]
 [17.18 18.5 ]
 [31.16 29.  ]
 [15.09 15.5 ]
 [34.77 33.  ]
 [14.38 12.  ]
 [36.38 39.1 ]
 [25.7  27.9 ]
 [28.86 23.7 ]
 [32.35 32.2 ]
 [15.78 23.51]
 [17.28 15.  ]
 [24.88 25.  ]
 [28.27 25.  ]
 [34.48 37.2 ]
 [25.39 28.  ]
 [34.66 46.6 ]
 [16.96 17.5 ]
 [17.33 18.  ]
 [16.27 16.  ]
 [18.62 19.  ]
 [19.23 20.5 ]
 [35.21 40.8 ]
 [18.05 18.2 ]
 [15.19 15.  ]
 [20.51 22.4 ]
 [16.96 16.  ]
 [26.55 23.51]
 [21.23 22.  ]
 [13.25 11.  ]
 [25.16 25.  ]
 [12.57 12.  ]
 [32.76 39.4 ]
 [34.12 41.5 ]
 [19.11 20.  ]
 [18.02 19.  ]
 [30.35 34.  ]
 [18.39 18.  ]
 [22.71 32.7 ]
 [28.95 31.  ]
 [15.42 14.  ]
 [14.87 15.  ]
 [33.9  35.7 ]
 [18.85 19.2 ]
 [26.22 30.  ]
 [29.68 37.  ]
 [13.12 13.  ]
 [24.34 24.5 ]
 [19.88 24.  ]
 [30.01 29.  ]
 [13.86 14.  ]
 [13.24 14.  ]
 [20.02 21.5 ]
 [33.95 32.1 ]
 [13.95 15.  ]
 [18.53 18.  ]
 [19.71 23.51]
 [22.79 25.  ]
 [13.83 14.  ]
 [24.08 19.  ]
 [34.46 31.9 ]
 [17.86 17.  ]
 [17.78 20.  ]
 [31.3  36.  ]
 [28.07 25.8 ]
 [36.26 37.  ]
 [14.33 15.  ]
 [37.12 29.8 ]
 [18.87 21.  ]
 [21.97 38.  ]
 [15.72 14.  ]
 [19.8  18.  ]
 [23.95 21.  ]
 [25.22 24.  ]
 [15.58 13.  ]
 [14.6  23.51]
 [26.19 27.5 ]
 [32.94 33.  ]]

# Evaluating model with R-Square Method

In [17]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7990561803333469

# Predicting a single set of values

In [35]:
sc_y.inverse_transform(regressor.predict(sc_x.transform([[4, 150.9, 52, 2800, 20, 92, 2]])))

array([27.05])